{% extends 'base.html.twig' %}

{% block title %}Nouveau spectacle{% endblock %}

{% block body %}
    <h1>Création de spectacle</h1>

    {{ include('spectacle/_form.html.twig') }}

    <a href="{{ path('app_spectacle_index') }}">retour à la liste des spectacles</a>
{% endblock %}
