<footer class=" border-t border-neutral-400 items-center text-black justify-center text-center fixed bottom-0 w-full p-1 md:p-2">
    <div>
        &copy; Thur'Improvistes • {{ "now" | date('Y') }}
    </div>
</footer>