{% extends 'base.html.twig' %}

{% block title %}Comedien index{% endblock %}

{% block body %}
    <h1>Comedien index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Catégorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comedien in comediens %}
            <tr>
                <td>{{ comedien.prenom }}</td>
                <td>
                    <ul>
                    {% for categorie in comedien.categories %}
                       <li> {{ categorie.nom }} </li>
                    {% endfor %}
                    </ul>
                </td>
                <td>
                    <a href="{{ path('app_comedien_edit', {'id': comedien.id}) }}">Modifier les catégories</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_comedien_new') }}">Create new</a>
{% endblock %}
